.DropDown{
    background-color:white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}

.DropDown-row{
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}
.DropDown:empty{
    border: none;
}
.hoverSearch:hover {

    background-color:darkgreen;

}
